<div class="row">

    <div class="col-sm-4 col-sm-offset-4">

        <form action="/artifacts/new" method="post">

            <legend>Enter your Artifact set and stats</legend>

            <div class="mb-5 form-group">
                <label for="artifact set">Artifact Set</label>
                <input type="text" name="artifactSet" class="form-control" id="artifactSet" placeholder="Artifact set">
            </div>

            <div class="mb-4 form-group">
                <label for="Main Stat">Main Stat</label>
                <input type="text" name="mainStat" class="form-control" id="mainStat" placeholder="Main stat">
            </div>

            <div class="mb-4 form-group">
                <label for="Main Stat">Main Stat</label>
                <select id='mainStat' name='mainStat'>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>

            <div class="mb-3 form-group">
                <label for="First Substat">First Substat</label>

                <input type='text' name="subStat1" class="form-control" id="subStat1"
                    placeholder="First Substat"></input>

                <input type='text' name="subStat1val" class="form-control" id="subStat1val"
                    placeholder="First Substat Value"></input>
            </div>

            <div class="mb-3 form-group">
                <label for="Second Substat">Second Substat</label>

                <input type='text' name="subStat2" class="form-control" id="subStat2"
                    placeholder="Second Substat"></input>

                <input type='text' name="subStat2val" class="form-control" id="subStat2val"
                    placeholder="Second Substat Value"></input>

            </div>

            <div class="mb-3 form-group">
                <label for="Third Substat">Third Substat</label>

                <input type='text' name="subStat3" class="form-control" id="subStat3"
                    placeholder="Third Substat"></input>

                <input type='text' name="subStat3val" class="form-control" id="subStat3val"
                    placeholder="Third Substat Value"></input>
            </div>

            <div class="mb-3 form-group">
                <label for="Fourth Substat">Fourth Substat</label>

                <input type='text' name="subStat4" class="form-control" id="subStat4"
                    placeholder="Fourth Substat"></input>

                <input type='text' name="subStat4val" class="form-control" id="subStat4val"
                    placeholder="Fourth Substat Value"></input>
            </div>

            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Create my Artifact!</button>
            </div>
        </form>

    </div>

</div>