<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>{{artifact.artifactSet}}</h2>
        <p>{{artifact.owner.username}}</p>
        <form action="/artifacts/{{artifact._id}}" method="post">
            <div class="text-right">

            </div>
        </form>
    </div>
</div>