<div class="row">

    <div class="col-sm-4 col-sm-offset-4">

        <form action="/artifacts/new" method="post">

            <legend>Create a New Build Here</legend>

            <div class="mb-4 form-group">
                <label for="Build name">Build Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Build Name">
            </div>

            <div class="mb-3 form-group">
                <label for="Flower">Flower Piece</label>

                <input type='text' name="flower" class="form-control" id="flower" placeholder="First Substat"></input>

            </div>

            <div class="mb-3 form-group">
                <label for="Feather Piece">Feather Piece</label>

                <input type='text' name="feather" class="form-control" id="feather" placeholder="Feather"></input>

            </div>

            <div class="mb-3 form-group">
                <label for="Sands Piece">Sands Piece</label>

                <input type='text' name="sands" class="form-control" id="sands" placeholder="Sands Piece"></input>

            </div>

            <div class="mb-3 form-group">
                <label for="Goblet Piece">Goblet Piece</label>

                <input type='text' name="goblet" class="form-control" id="goblet" placeholder="Goblet Piece"></input>
            </div>

            <div class="mb-3 form-group">
                <label for="Circlet Piece">Circlet Piece</label>

                <input type='text' name="circlet" class="form-control" id="circlet" placeholder="Circlet Piece"></input>
            </div>

            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Create my Build!</button>
            </div>
        </form>

    </div>

</div>